.header{
  border-radius: 35px 35px 0 0;
  margin-top: 50px;
  background-color: #3159c3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  user-select: none;
  font-size: 25px;
  position: relative;

  a{
    color: #acacac;

    span{
      position: absolute;
      bottom: 5px;
      right: 10px;
      font-style: initial;
      font-size: 10px;
      transition: .5s;
      &:hover{
        transition: .5s;
        color:white;
      }
    }

  }

}